<!-- Drawer navigation-->
<nav class="drawer accordion drawer-light bg-white" id="drawerAccordion">
    <div class="drawer-menu">
        <div class="nav">

            <div class="drawer-menu-heading d-sm-none">Navigation</div>

            {{!-- TOP NAV DUPLICATES FOR RESPONSIVE RENDERING --}}
            <a class="nav-link d-sm-none" href="/">
                <div class="nav-link-icon"><i class="material-icons">home</i></div>
                Home
            </a>
            <a class="nav-link d-sm-none" href="/contact.html">
                <div class="nav-link-icon"><i class="material-icons">mail</i></div>
                Contact
            </a>

            <div class="drawer-menu-divider d-sm-none"></div>

            {{> supplemental-nav-sidebar-static-links}}

            {{!-- Antora pages nav --}}
            {{#with page.navigation}}
                {{#with @root.page.componentVersion}}
                    <div class="drawer-menu-heading">{{./title}}</div>
                {{/with}}

                {{!-- iterate nav elements --}}
                {{#each this}}
				    {{> nav-sidebar-tree navigation=./items}}
			    {{/each}}
            {{/with}}

            {{> supplemental-nav-sidebar-static-projects-link}}
        </div>
    </div>
</nav>
