{{!-- ============================================================================================= --}}
{{!--                                                                                               --}}
{{!-- This template is intended to use as supplemental_ui to add application-link to the docs pages --}}
{{!--                                                                                               --}}
{{!-- ============================================================================================= --}}

{{!-- <div class="drawer-menu-heading">NHL Fantasy Game</div>

<a class="nav-link" href="#">
    <div class="nav-link-icon"><i class="material-icons">dashboard</i></div>
    Overview
</a>

<a class="nav-link" href="#">
    <div class="nav-link-icon"><i class="material-icons">list</i></div>
    My Regular Season Predictions
</a>

<a class="nav-link" href="#">
    <div class="nav-link-icon"><i class="material-icons">list</i></div>
    My Playoff Predictions
</a>

<div class="drawer-menu-divider"></div> --}}
