{{!-- ============================================================================================= --}}
{{!--                                                                                               --}}
{{!-- This template is intended to use as supplemental_ui to add the project-selector when          --}}
{{!-- application-link are added to the docs pages                                                  --}}
{{!--                                                                                               --}}
{{!-- ============================================================================================= --}}

{{!-- <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#projectsModal">
    <div class="nav-link-icon"><i class="material-icons">list</i></div>
    Projects Overview
    <div class="drawer-collapse-arrow"><i class="material-icons">picture_in_picture</i></div>
</a> --}}
