{{#if (and page.fileUri (not env.CI))}}
    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit this Page">
        <a class="btn btn-secondary my-1" href="{{page.fileUri}}" target="_blank">
            <i class="align-middle" data-feather="edit-3"></i>
        </a>
    </span>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit this Page">
        <a class="btn btn-secondary my-1" href="{{page.editUrl}}" target="_blank">
            <i class="align-middle" data-feather="edit-3"></i>
        </a>
    </span>
{{/if}}
