<footer class="footer">
	<div class="container-fluid">
		<div class="row text-muted">
			<div class="col-6 text-start">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="text-muted" href="/">Home</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="/docs">Docs</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="/contact.html">Contact</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="/privacy.html">Privacy</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="/terms.html">Terms of Service</a>
					</li>

					<!-- COOKIE MODAL-->
					<li class="list-inline-item">
						<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalCookieSettings">
							Cookie Settings
						</button>
						<div class="modal fade" id="modalCookieSettings" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cookie Settings</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body m-3">
										{{!-- <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p> --}}
										<p class="mb-0">See <a href="/privacy.html">Privacy</a> Information</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										{{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- COOKIE MODAL-->
				</ul>
			</div>
			<div class="col-6 text-end">
				<p class="mb-0">
					&copy; {{year}} - <a href="/" class="text-muted">Sommerfeld.io</a>
				</p>
			</div>
		</div>
	</div>
</footer>
