<!DOCTYPE html>
<html lang="en">

<head>
    {{> head defaultPageTitle='Untitled'}}
</head>

<body data-theme="dark" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky"
	 class="{{#with (or page.attributes.role page.role)}} {{{this}}} {{/with}}">

	<div class="wrapper">
		{{> sidebar}}

		<div class="main">
			{{> top-nav}}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="container p-0">

						<div class="row">
							{{> breadcrumbs}}
						</div>

						<div class="row">
							<!-- ===== PAGE TITLE ===== -->
							<div class="mx-auto col-lg-10 col-xl-8 mb-1">
                                {{#with page.title}}
                                	<h1 class="h3 mb-3">{{{this}}}</h1>
                                {{/with}}
							</div>

							<div class="mx-auto col-lg-10 col-xl-8 mb-5">
								{{> toc}}
                                {{> buttons}}
							</div>
							<!-- ===== PAGE TITLE ===== -->
						</div>

						<div class="row">
							<!-- ===== ARTICLE CONTENT ===== -->
							<div class="mx-auto col-lg-10 col-xl-8 mb-3">
								{{> article}}
							</div>
							<!-- ===== ARTICLE CONTENT ===== -->
						</div>

					</div>

				</div>
			</main>

			{{> footer}}
		</div>
	</div>

	{{> scripts}}

	{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> --}}
	<script src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			$("pre code").each(function(i, block) {
				hljs.highlightBlock(block);
			});
		});
	</script>
</body>
</html>
