<!-- HELPFUL -->
<section class="text-center">
    <hr class="my-5" />
    <div class="subheading-1 mb-2">Was this article helpful?</div>
    <div class="mb-3">
        <button class="btn btn-outline-primary mx-1" type="button">
            <i class="material-icons leading-icon">thumb_up</i>
            Yes
        </button>
        <button class="btn btn-outline-primary mx-1" type="button">
            <i class="material-icons leading-icon">thumb_down</i>
            No
        </button>
    </div>
</section>
