<!-- Footer-->
<!-- Min-height is set inline to match the height of the drawer footer-->
<footer class="py-4 mt-auto border-top" style="min-height: 74px">
    <div class="container-xl px-5">
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between small">
            <div class="me-sm-2">&copy; 2023 Sommerfeld.io</div>
            <div class="d-flex ms-sm-2">
                <a class="text-decoration-none" href="/">Home</a>
                <div class="mx-1">&middot;</div>
                <button class="btn btn-outline-primary btn-xs" type="button" data-bs-toggle="modal" data-bs-target="#cookieModal">Cookie Settings</button>
                <div class="mx-1">&middot;</div>
                <a class="text-decoration-none" href="/contact.html">Contact</a>
                <div class="mx-1">&middot;</div>
                <a class="text-decoration-none" href="/terms-conditions.html">Terms and Conditions</a>
            </div>
        </div>
    </div>
</footer>
