<a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dropdown-{{sublist_id}}" aria-expanded="false" aria-controls="dropdown-{{sublist_id}}">
    <div class="nav-link-icon"><i class="material-icons">layers</i></div>
    {{{./content}}}
    <div class="drawer-collapse-arrow"><i class="material-icons">expand_more</i></div>
</a>

<!-- Start dropdown-->
<div class="collapse" id="dropdown-{{sublist_id}}" aria-labelledby="headingTwo" data-bs-parent="#drawerAccordion">
    <nav class="drawer-menu-nested nav accordion" id="drawerAccordionPages">
