<!-- Top app bar navigation menu-->
<nav class="top-app-bar navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid px-4">

        <!-- Drawer toggle button-->
        <button class="btn btn-lg btn-icon order-1 order-lg-0" id="drawerToggle" href="javascript:void(0);"><i class="material-icons">menu</i></button>

        <!-- Navbar brand-->
        <a class="navbar-brand me-auto" href="/"><div class="text-uppercase font-monospace">Sommerfeld.io</div></a>

        <!-- Navbar items-->
        <div class="d-flex align-items-center mx-3 me-lg-0">
            <!-- Navbar-->
            <ul class="navbar-nav d-none d-lg-flex">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#projectsModal">{{!--<i class="material-icons">picture_in_picture</i>--}} Projects Overview</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
            </ul>

            <!-- Navbar buttons-->
            <div class="d-flex">
                <!-- User profile dropdown-->
                <div class="dropdown">
                    <button class="btn btn-lg btn-icon dropdown-toggle" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">code</i></button>
                    <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
                        <li>
                            <a class="dropdown-item" href="https://github.com/sommerfeld-io">
                                <i class="material-icons">open_in_new</i>
                                <div class="me-3">Sommerfeld.io on Github</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://github.com/sebastian-sommerfeld-io">
                                <i class="material-icons">open_in_new</i>
                                <div class="me-3">Personal Github Projects</div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item" href="https://hub.docker.com/u/sommerfeldio">
                                <i class="material-icons">open_in_new</i>
                                <div class="me-3">Sommerfeld.io on DockerHub</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
