{{!-- ============================================================================================= --}}
{{!--                                                                                               --}}
{{!-- Candidate for replacement through supplemental_ui. Based on the respective app these links    --}}
{{!-- might not fix the context anymore.                                                            --}}
{{!--                                                                                               --}}
{{!-- ============================================================================================= --}}

<!-- RELATED BOXES-->
<hr class="my-5" />
<h3 class="overline">Related Links</h3>
<div class="row">
    <div class="col-md-4 col-lg-6 col-xxl-4">
        <div class="card card-quick-link card-raised ripple-gray mb-4">
            <div class="card-body">
                <img class="card-quick-link-img" src="{{{uiRootPath}}}/img/brands/github.svg" alt="Material Icons" />
                <div class="card-title text-truncate mb-2">Sommerfeld.io on Github</div>
                <p class="card-text">Take a look at our software projects on Github</p>
            </div>
            <div class="card-actions">
                <a class="card-link text-muted text-decoration-none stretched-link" href="https://github.com/sommerfeld-io/" target="_blank" title="Github">Go to Github.com</a>
                <i class="material-icons text-muted rotate-45">arrow_upward</i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-6 col-xxl-4">
        <div class="card card-quick-link card-raised ripple-gray mb-4">
            <div class="card-body">
                <img class="card-quick-link-img" src="{{{uiRootPath}}}/img/brands/sonarcloud.svg" alt="Material Icons" />
                <div class="card-title text-truncate mb-2">Static Code Analysis</div>
                <p class="card-text">We utilize SonarCloud for static code analysis for most of our software projects</p>
            </div>
            <div class="card-actions">
                <a class="card-link text-muted text-decoration-none stretched-link" href="https://sonarcloud.io/organizations/sommerfeld-io" target="_blank" title="SonarCLoud">Go to SonarCloud</a>
                <i class="material-icons text-muted rotate-45">arrow_upward</i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-6 col-xxl-4">
        <div class="card card-quick-link card-raised ripple-gray mb-4">
            <div class="card-body">
                <img class="card-quick-link-img" src="{{{uiRootPath}}}/img/brands/docker-symbol-off-black-logo.svg" alt="Material Icons" />
                <div class="card-title text-truncate mb-2">Sommerfeld.io on DockerHub</div>
                <p class="card-text">We publish our software as Docker images to DockerHub</p>
            </div>
            <div class="card-actions">
                <a class="card-link text-muted text-decoration-none stretched-link" href="https://hub.docker.com/u/sommerfeldio" target="_blank" title="Material Icons">Go to DockerHub</a>
                <i class="material-icons text-muted rotate-45">arrow_upward</i>
            </div>
        </div>
    </div>
</div>
