<div class="sticky-top nav-stick">
    <div class="nav-heading">On This Page</div>
    <ul class="nav flex-column" id="navStick">
        <li class="nav-item"><a class="nav-link" href="#article-a">Everything as Code</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-b">As much as possible in containers</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-c">Test Driven Development</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-d">Version Control</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-e">Commit Messages</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-f">Branching Strategy</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-g">Continuous Integration</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-h">Automated tests determine the releasability</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-i">Keep the software always in a releasable state</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-j">Releases and Deployments always are done through a pipeline</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-k">Semantic Versioning for our Releases</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-l">User Stories</a></li>
        <li class="nav-item"><a class="nav-link" href="#article-m">As much as possible in containers</a></li>
    </ul>
</div>
