{{#with page.title}}
    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Share on Facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.sommerfeld.io/{{{page.url}}}t={{{this}}}" class="btn mb-1 btn-secondary my-1"><i class="align-middle fab my-1 fa-facebook"></i></a>
    </span>

    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Share on LinkedIn">
        <a href="https://www.linkedin.com/shareArticle?url=https://www.sommerfeld.io/{{{page.url}}}&title={{{this}}}" class="btn mb-1 btn-secondary my-1"><i class="align-middle fab my-1 fa-linkedin-in"></i></a>
    </span>
{{/with}}
