<li class="sidebar-item">
	<a data-bs-target="#antora-docs-nav-{{sublist_id}}" data-bs-toggle="collapse" class="sidebar-link"> {{!-- collapsed --}}
		{{{./content}}}
	</a>
	<ul id="antora-docs-nav-{{sublist_id}}" class="sidebar-dropdown list-unstyled collapse show"> {{!-- data-bs-parent="#antora-docs-nav-1" --}}
